
.container-fluid {
  margin-top: 0px;
}

.carousel-inner >div {
 max-width: 100%;
 max-height: 100%
}

header {
  margin-bottom: 2%;
}

header>h3 {
  text-align: center;
  border: 1px solid black;
}

main {
  display: flex;
}

img {
  border-radius: 10px;  
}

#homepage {
  text-align: center;
}

#itemPicture {
  text-align:center;
  margin-right: 100px;
  border: 1px solid black;
  border-radius: 2px;
}
#itemDescription{
  display: inline-block;
}
.underItemPicture {
  margin: 0px 10px 10px 10px ;
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
}
#quantity {
  text-align: center;
  border: 1px solid black;
  border-radius: 2px;
}
.stars {
  margin-top: 10px;
  width: 100px;
  height: 30px;
}
#addToCart {
  text-align: center;
  border: 1px solid black;
  border-radius: 2px;
}
.iconR {
  margin-left: 40px;
  width: 30px;
  height: 30px;
}
.iconL {
  margin-right: 40px;
  width: 30px;
  height: 30px;
}

#description {
  border: 1px solid black;
}
.card-header {
  background-color: white;
}

#card {
  text-align: center;
  width: 40%;
  border-radius: 10px;
}

#fullCard {
  border: none;
}

.carousel-control-prev-icon {
  background-color: #000;
  border-radius: 10px;
}

.carousel-control-next-icon {
  background-color: #000;
  border-radius: 10px;
}

.navbar-toggler-icon {
  background-color: black;
}

.loginForm {
  align-items: center;
  text-align: center;
  font-weight: bold;
  width: 40%;
}

.category {
  text-align: center;
  border: 1px solid black;
  width: 350px;
  height: 300px;
}

.category:hover {
  cursor: pointer;
}

.categoryImg {
  width: 250px;
  height: 200px;
}

#categoriesContainer {
  margin-bottom: 80px;

}
